*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

/* navigation bar start */
.mobile_responsive{
    display: none;
}
.menu-toggle {
    font-size: 54px;
    cursor: pointer;
    padding:0px 1.4rem;
   
}
.container{
    padding:0px 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    cursor: pointer;
}
.logo img{
width:10rem;
height: 10rem;
margin-top: -1rem;
filter: drop-shadow(rgb(121, 113, 113) .30rem .20rem 0.2rem);

}
.menu ul{
    display:flex ;
    justify-content: space-between;
    justify-items: center;
    

}
.menu ul li{
    list-style: none;
    font-size:1.5rem;
    color:#7ec0e2;
    text-shadow:2px 1px 2px #08194d;
     font-weight: 900;
           }         

.Contact_btn h1{
    font-size:1.5rem;   
    color:white;
    background-color: #7ec0e2;
    border-radius: 1rem;
    padding: 4px 14px;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);   
    text-align: center;
}
/* hover */
.menu ul li:hover{
        color:#08194d;
            }
.Contact_btn h1:hover{
    color:#08194d;
    background-color: rgb(216, 229, 255);
    text-shadow: 
        1px 1px 1px #333131,
    3px 2px 4px #5e5d5d; 
    transition: 0.3s;
}

/* navigation bar close */
/* about_img start */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 3rem; 
    
}
.banner img{
    max-width: 40rem;
    width: 100%;
    height: auto;
  filter: drop-shadow(rgb(7, 6, 80) 0.4rem 0.4rem 0.3rem);
    
 }
 .banner span{
    color:#98c8fc;
    text-shadow: 1px 0px 0px #646363,
    2px 1px 0.2px #8a8888,
    3px 0.7px 0.5px #3a3a3b,
    4px 1px 3px #29292b,
    4px 3.5px 3px #757575;
 }

.banner h1{
   font-size: 3.5rem;
   word-spacing: 1px;
   line-height: 4rem;        
}

.banner p{
    color: #705f69;
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-size: 1.4rem;
    max-width: 30rem;
    width: 100%;
    height: auto;
}
 /* about_img close */
 /* two button start */
 .button_container{
    padding:0px 3rem;
    display:grid ;
    grid-template-columns: repeat(2,150px );
    grid-gap:20px;
    border-bottom:1px solid #cfcccc;
}
 .left_btn button{
    font-size:1.3rem;
    color:white;
    background-color: #7ec0e2;
    border-radius: .5rem;
    padding: 6px 2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
    }
 .right_btn button {
    
    font-size:1.3rem;
    color:white;
    background-color: #7ec0e2;
    border-radius: .5rem;
    padding: 6px 2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;
    text-decoration:none;
    transition: 0.6s;
 }
 .right_btn a{
    text-decoration: none;
    color:white;
 }
 .left_btn button:hover{
    color:#08194d;
    background-color: rgb(216, 229, 255);
    text-shadow: 
    2px 1px 3px #302e2e;            
} 

 .right_btn button:hover{
    background-color: rgb(216, 229, 255);
} 
.right_btn a:hover{
    color:#08194d;
    text-shadow: 2px 1px 3px #302e2e;
} 

/* about experience start */
.about_experience{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,230px );
    grid-gap:20px;
    }
    .experience{
        display: flex;      
    }
    .about_experience .experience span{
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 2px 3px #363636;
      color: #070707;
    }
    .about_experience .experience p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        text-align: center;   
        color:#705f69; 
    }
    .about_experience .experience img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .project_experience{
        display: flex;      
    }
    .about_experience .project img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.65rem 0.2rem);  
    }
    
    .project_experience span{
      font-size: 1.5rem;
      /* padding: 0.5rem; */
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 2px 3px #363636;
      color:#070707;
        }
     .project_experience p{
        /* padding:0.5rem 0rem 0rem 0rem; */
          text-transform: capitalize; 
          letter-spacing: 0.5px;
          text-align: center;
          font-weight: 400;
          color:#705f69;
    
    }
        .meeting{
        display: flex;
        
    }
    .about_experience .meeting img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.65rem 0.2rem);  
    }
    .about_experience .meeting span{
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 2px 3px #363636;
      color:#070707
     }
    .about_experience .meeting p{
        /* padding:0.5rem 0rem 0rem 0rem; */
          text-transform: capitalize; 
          letter-spacing: 0.5px;
          text-align: center;
         color:#705f69;
    }
    /* about experience close */
    /* services start */
.service{
       padding: 10px;
}
    .service .text_container{ 
        padding:1rem 1.4rem;
        display:flex;
        justify-content: center;  
        text-align: center;        
        text-transform: uppercase;
        color: #7ec0e2;
        text-shadow: 2.3px 1px 2px #000000;
        font-size: 1.5rem;
}
.services_offer{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,240px );
    grid-column-gap:120px;
    grid-row-gap:40px;
}

.services_offer .card_1{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 120%;
    height: 110%;
    border-radius: 5px;
}
.services_offer .card_1 span{
  font-size:1rem;
  line-height: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #08194d;
}
.services_offer .card_1 p{
    text-transform: capitalize; 
    letter-spacing: 0.5px;
    padding-top: 0.3rem;
    line-height: 2rem;
    font-weight: 200;
    font-size: 14px;
    color: #705f69;
}
.services_offer .card_1 img{
    
    filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
}
.services_offer .card_1 button{
    /* font-size:1.3rem; */
    color:white;
    background-color: #7ec0e2;
    border-radius: .3rem;
    padding: 0.2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;

}
.services_offer .card_1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);   
}
  .services_offer .card_1 button:hover {
    color:#08194d;
    background-color: rgb(216, 229, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
            1px 2px 3px #363636;
  }
  /* card_1 close */
  /* card_2 start */
  .services_offer .card_2{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 120%;
    height: 110%;
    border-radius: 5px;
}
.services_offer .card_2 span{
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #08194d;
}
.services_offer .card_2 p{
    text-transform: capitalize; 
    letter-spacing: 0.5px;
    padding-top: 0.3rem;
    line-height: 2rem;
    font-weight: 300;
    color:#705f69;
}
.services_offer .card_2 img{
    
    filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
}
.services_offer .card_2 button{

    color:white;
    background-color:#7ec0e2;
    border-radius: .3rem;
    padding: 0.2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;

}
.services_offer .card_2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2); 
    color: #08194d;
}

  .services_offer .card_2 button:hover {
    color:#08194d;
    background-color: rgb(216, 229, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
            1px 2px 3px #363636;
  }
  /* card_2 close */
    /* card_3 start */
    .services_offer .card_3{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 120%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_3 span{
      font-size: 1rem;
      color:#08194d;
      font-weight: 800;
      text-transform: uppercase;
    }
    .services_offer .card_3 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
        color: #705f69;
    }
    .services_offer .card_3 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_3 button{
    
        color:white;
        background-color:#7ec0e2;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }
    .services_offer .card_3:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.2); 
        
    }

      .services_offer .card_3 button:hover {
        color:#08194d;
        background-color: rgb(216, 229, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 2px 3px #363636;  
      }
      /* card_3 close */
        /* card_4 start */
    .services_offer .card_4{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 120%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_4 span{
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #08194d;
    }
    .services_offer .card_4 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
        color: #705f69;
    }
    .services_offer .card_4 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_4 button{
    
        color:white;
        background-color:#7ec0e2;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }
    .services_offer .card_4:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.2);   
    }

      .services_offer .card_4 button:hover {
        color:#08194d;
        background-color: rgb(216, 229, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 2px 3px #363636;   
     }
      /* card_4 close */
        /* card_5 start */
    .services_offer .card_5{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 120%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_5 span{
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #08194d;
    }
    .services_offer .card_5 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
        color:#705f69;
    }
    .services_offer .card_5 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_5 button{
    
        color:white;
        background-color: #7ec0e2;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }

      .services_offer .card_5:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.1);  
    }
      .services_offer .card_5 button:hover {
        color:#08194d;
        background-color: rgb(216, 229, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 2px 3px #363636;
        }
      /* card_5 close */
              /* card_6 start */
    .services_offer .card_6{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 120%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_6 span{
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #08194d;
    }
    .services_offer .card_6 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
        color:#705f69;
    }
    .services_offer .card_6 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_6 button{
    
        color:white;
        background-color: #7ec0e2;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }

      .services_offer .card_6:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.1);  
    }
      .services_offer .card_6 button:hover {
        color:#08194d;
        background-color: rgb(216, 229, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 2px 3px #363636;
        }
        /* card 6 close */
 /* services close */
/* skill start */
.skill .text{ 
    padding:1rem 1.5rem;
    display:flex;
justify-content: center;  
text-align: center;        
text-transform: uppercase;
color:#7ec0e2;
text-shadow: 2.3px 1px 2px #000000;
     font-size: 1.5rem;
}
.skill{
    padding: 0px 1.4rem;
}
@keyframes textclip {
to {
background-position: 200% center;
}
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #08194d;
  }
.contain {
    width: 100%;
    background-color: #ddd;
  }
  
.html {
    width: 90%; 
    background-color: #94d4f3;
}
.css {
    width: 55%; 
    background-color: #94d4f3;
}
.smm{
    width:100%;
    background-color: #94d4f3;
}
/* .js {
    width: 0%; 
    background-color: #f44336;
}
.php {
    width: 0%; 
    background-color: #808080;
} */
.Graphics {
    width: 40%; 
    background-color: #94d4f3;
}
/* skill close */
/* project start */
.project{       
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 2.3px 1px 2px #000000;
  color: #7ec0e2;
}
/* slide show start*/
.image_gallary{

    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,230px );
    grid-gap:30px;
    
}
.image_gallary img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);
    transition: 0.6s;
}
/* slide show close */
/* Contact start */
.contact .text{ 
padding:1rem 1.4rem;
display:flex;
justify-content: center;  
text-align: center;        
text-transform: uppercase;
font-size: 1.5rem;
color: #7ec0e2;
text-shadow: 2.3px 1px 2px #000000;
}
.contact img{
    filter: drop-shadow(#504f4f 0.1rem 0.2rem 0.2rem);
}
.contact .contact_icon{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,260px );
    grid-gap:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.contact  .phone_number{
    display: flex;
}
.contact_icon  .phone_number p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    color:#363636;
}
.contact  .gmail{
    display: flex;
}
.contact_icon  .gmail p{
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 1rem;
    color: #363636;
}
.contact  .whatsup{
    display: flex;
}
.contact_icon  .whatsup p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    letter-spacing: 1px;
    color: #363636;
}
.contact  .telegram{
    display: flex;
}
.contact_icon  .telegram p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    letter-spacing: 1px;
    color: #363636;
}
/* contact close */
/* footer start */
footer{
        display: block;
        justify-content: center;
        text-align:center;
        padding: 3rem; 
}
footer img{
filter: drop-shadow(#000000 0.1rem 0.2rem 0.2rem);
}
footer p span{
    color: #7ec0e2;
    text-shadow: 0.5px 0px 0.5px #363636;
}
/* footer close */
  /* two button close */

/* responsive start */
/*styles for tablets */

@media (min-width: 768px)  {
    .menu ul{
        column-gap: 1rem;    
    }
     .logo img{
      width:6rem ;
      height: 6rem;
               }
    .Contact_btn h1{
            border-radius: 0.5rem;
            padding: 3px 10px;
            }
    .banner .hero h1{
          font-size: 2rem; 
          line-height: 1.8rem;
             }     
     .hero p{
                font-size: 0.9rem;
             } 
    .services_offer{
       margin-right: 3rem;
        display:grid ;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2,120px );
        grid-column-gap:5rem;
        
    }
    .image_gallary{
        grid-template-columns: repeat(2,250px);
    }
}
@media (max-width: 1199px){
   .banner .hero h1{
        font-size: 3rem;
        line-height:2.5rem; 
     }
     .logo img{
        width: 10rem;
        height: 9rem;
     }
     .menu ul{
        column-gap: 2rem;
     }
     .menu ul li{
        font-size:2rem;
       } 
   .Contact_btn h1{
      font-size:1.5rem;   
                }  
                .banner .hero h1{
                    font-size: 3rem;
                    line-height: 3rem;
                } 
                .banner .hero p{
                    font-size: 1.2rem;
                }
      .image_gallary{
         grid-template-columns: repeat(3,300px );
                }         
}
 /* styles for mobile */
@media (max-width: 767px) {
    .navigation{
        display: none;
    }
    .mobile_responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 1.4rem;
    }
    .mobile_responsive img{
        width:10rem;
        height: 10rem;
        margin-top: -1rem;
        filter: drop-shadow(rgb(121, 113, 113) .20rem .10rem 0.01rem);
    }
   .banner .hero h1{
        font-size: 2rem;
        line-height:2.5rem; 
     }     
.banner .hero p{
        font-size: 1rem;
     }  
.services_offer{
    padding:2rem 4rem;
    grid-template-columns: repeat(1,370px );
    grid-row-gap:40px;
    
}

.image_gallary{
    grid-template-columns: repeat(2,270px );
}
}

@media (max-width: 600px) {

  .banner .hero h1{
        font-size: 1.5rem;
        line-height:2rem; 
     }     
.banner .hero p{
        font-size: 0.8rem;
     }  
.left_btn button{
font-size:0.7rem;
}
.button_container{
grid-template-columns: repeat(2,110px );
}
.right_btn button{

font-size:0.7rem;
}
.about_experience{
    grid-template-columns: repeat(2,230px );
    grid-gap:20px;
    }
.services_offer{
   margin-right: 3rem;
}
}
@media (max-width: 480px) {
.banner{
    display: block;
}

.button_container{
    margin-top: 2rem;
    justify-content: center;
grid-template-columns: repeat(2,130px );
}
.about_experience{

    grid-template-columns: repeat(1,230px );
}
.service{
    justify-content: center;
}
.service .text_container{ 
    font-size: 1.8rem;
}
.services_offer{
    grid-template-columns: repeat(1,200px );             
           } 
.image_gallary{
    grid-template-columns: repeat(1,200px );  
}
.project h1{
    font-size: 1.8rem;
}
.contact .contact_icon{
    grid-template-columns: repeat(1,250px ); 
}
}
/* Widescreen (greater than 1200px) */
@media (min-width: 1200px) {
body{
    justify-content: center;
    padding:0px 2rem;
}
.logo img{
    width: 10rem;
    height: 10rem;
}
.banner .hero h1{
    font-size: 3rem;
    line-height:2.5rem; 
 }
 .banner .hero p{
    font-size: 1.1rem;
 }
 .menu ul li{
    font-size:1.6rem;
           } 
.Contact_btn h1{
  font-size:1.5rem;   
            }  
  .services_offer{
     grid-template-columns: repeat(2,300px );
                grid-column-gap:90px;
                
            }         
.image_gallary{
    grid-template-columns: repeat(3,250px);
}
}
@media (min-width: 1600px) {
    body{
        justify-content: center;
        padding:0px 10rem;
    }
}
@media (min-width: 1920px) {
body{
    justify-content: center;
    padding:0px 22rem;
}
}



