*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

/* navigation bar start */
.mobile_responsive{
    display: none;
}
.menu-toggle {
    font-size: 54px;
    cursor: pointer;
    padding:0px 1.4rem;
   
}
.container{
    padding:0px 1.4rem;
    background-image: url(image/food.mp4);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    cursor: pointer;
}
.logo img{
width:10rem;
height: 10rem;
margin-top: -1rem;
filter: drop-shadow(rgb(121, 113, 113) .20rem .10rem 0.01rem);

}
.menu ul{
    display:flex ;
    justify-content: space-between;
    justify-items: center;
    column-gap: 3rem;

}
.menu ul li{
    list-style: none;
    font-size:1.5rem;
    color:#ac718e;
    text-shadow: 1px 1px 1px #5f5c5c,
               2px 1px 1px #81225d,
               2.5px 1.5px 1px #161616,
                1px 1px 1px #ffffff,
               3px 2px 1px #0c0c0c;
     font-weight: 900;
           }         

.Contact_btn h1{
    font-size:1.3rem;   
    color:white;
    background-color: #943f69;
    border-radius: 1rem;
    padding: 4px 14px;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;
}
/* hover */
.menu ul li:hover{
        color:#80044c;
        border-radius: 0.5rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px 0 rgba(161, 157, 157, 0.2), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
        padding:4px 10px; 
        text-shadow: 1px 1px 1px #292828,
               2px 2px 1px #333232,
               2.5px 1.5px 1px #ddc2dd,
                1px 1px 1px #a74e84,
               2.5px 2px 1px #000000;
    }
.Contact_btn h1:hover{
    color:#753254;
    background-color: white;
    border:0.01px solid rgb(187, 183, 183);
    text-shadow: 
        1px 1px 1px #333131,
    2px 1px 1px #070707; 

}

/* navigation bar close */
/* about_img start */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 1.4rem; 
    
}
.banner img{
    max-width: 40rem;
    width: 100%;
    height: auto;
  filter: drop-shadow(rgb(50, 2, 35) 0.4rem 0.4rem 0.3rem);
    
 }
 .banner span{
    color:#792957
 }

.banner h1{
   font-size: 3.5rem;
   word-spacing: 1px;
   line-height: 4rem; 
   /* text-shadow:3px 1px 2px rgb(97, 92, 92); */
   text-shadow: 1px 0px 0px #919191,
       2px 1px 0.2px #afaeae,
       3px 0.7px 0.5px #807e7e,
       4px 1px 3px #333131,
       4px 1.3px 3px #161515,
       6px 1px 0px #fdfdfd;
}

.banner p{
    color: #705f69;
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    text-shadow:  0.5px 1px 2px rgb(99, 98, 98);
    font-size: 1.4rem;
    max-width: 30rem;
    width: 100%;
    height: auto;
}
.banner img:hover {
    filter: drop-shadow(rgb(50, 2, 35) 0.4rem 0.5rem 0.1rem);
    transform: scale(1.2);    
}

 /* about_img close */
 /* two button start */
 .button_container{
    padding:0px 1.4rem;
    display:grid ;
    grid-template-columns: repeat(2,200px );
    grid-gap:20px;
    cursor: pointer; 
    border-bottom:1px solid #cfcccc;
}
 .left_btn button{
    font-size:1.2rem;
    color:white;
    background-color: #753254;
    border-radius: .5rem;
    padding: 6px 2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;
    }
 .right_btn button {
    
    font-size:1.3rem;
    color:white;
    background-color: #753254;
    border-radius: .5rem;
    padding: 6px 2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;
    text-decoration:none;
 }
 .right_btn a{
    text-decoration: none;
    color:white;
 }
 .left_btn button:hover{
    color:#8b1050;
    background-color: rgb(255, 255, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
            1px 1px 1px #333131,
            2px 1px 1px #070707; 
            
} 

 .right_btn button:hover{
    background-color: rgb(255, 255, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
          1px 1px 1px #333131,
          2px 1px 1px #070707;  
} 
.right_btn a:hover{
    color:#8b1050;
    text-shadow: 
          1px 1px 1px #333131,
          2px 1px 1px #070707;  
} 

/* about experience start */
.about_experience{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,230px );
    grid-gap:20px;
    }
    .experience{
        display: flex;
        
    }
    .about_experience .experience span{
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .about_experience .experience p{
        text-transform: capitalize; 
    letter-spacing: 0.5px;
    text-align: center;
    
    }
    .about_experience .experience img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .about_experience .experience img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    .project{
        display: flex;
        
    }
    .about_experience .project img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.65rem 0.2rem);  
    }
    
    .about_experience .project span{
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .about_experience .project p{
        /* padding:0.5rem 0rem 0rem 0rem; */
        text-transform: capitalize; 
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 400;
    }
        .meeting{
        display: flex;
        
    }
    .about_experience .meeting img{
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.65rem 0.2rem);  
    }
    .about_experience .meeting img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    .about_experience .meeting span{
      font-size: 1.5rem;
      padding: 0.5rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .about_experience .meeting p{
        /* padding:0.5rem 0rem 0rem 0rem; */
        text-transform: capitalize; 
    letter-spacing: 0.5px;
    text-align: center;
    }
    /* about experience close */
    /* services start */
.service{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
    .service .text_container{ 
        padding:1rem 1.4rem;
        display:flex;
    justify-content: center;  
    text-align: center;        
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #753254 0%,
    #61133a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 3rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.services_offer{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,270px );
    grid-column-gap:120px;
    grid-row-gap:40px;
}

.services_offer .card_1{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 130%;
    height: 110%;
    border-radius: 5px;
}
.services_offer .card_1 span{
  font-size:1.2rem;
  line-height: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px #919191,
  2px 1px 0.2px #afaeae,
  3px 0.7px 0.5px #807e7e,
  4px 1px 3px #333131,
  4px 1.3px 3px #161515,
  6px 1px 0px #fdfdfd;
}
.services_offer .card_1 p{
    text-transform: capitalize; 
    letter-spacing: 0.5px;
    padding-top: 0.3rem;
    line-height: 2rem;
    font-weight: 200;
    font-size: 16px;
}
.services_offer .card_1 img{
    
    filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
}
.services_offer .card_1 button{
    /* font-size:1.3rem; */
    color:white;
    background-color: #753254;
    border-radius: .3rem;
    padding: 0.2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;

}
.services_offer .card_1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);   
}
  .services_offer .card_1 button:hover {
    color:#8b1050;
    background-color: rgb(255, 255, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
            1px 1px 1px #333131,
            2px 1px 1px #070707; 

  }
  /* card_1 close */
  /* card_2 start */
  .services_offer .card_2{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 150%;
    height: 110%;
    border-radius: 5px;
}
.services_offer .card_2 span{
  font-size: 1.2rem;
  /* padding-top: 1rem; */
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px #919191,
  2px 1px 0.2px #afaeae,
  3px 0.7px 0.5px #807e7e,
  4px 1px 3px #333131,
  4px 1.3px 3px #161515,
  6px 1px 0px #fdfdfd;
}
.services_offer .card_2 p{
    text-transform: capitalize; 
    letter-spacing: 0.5px;
    padding-top: 0.3rem;
    line-height: 2rem;
    font-weight: 300;
}
.services_offer .card_2 img{
    
    filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
}
.services_offer .card_2 button{

    color:white;
    background-color: #753254;
    border-radius: .3rem;
    padding: 0.2rem;
    box-shadow: 3px 1px 2px rgb(0, 0, 0);
    text-shadow:3px 1px 2px rgb(0, 0, 0);
    text-align: center;

}
.services_offer .card_2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2); 
}

  .services_offer .card_2 button:hover {
    color:#8b1050;
    background-color: rgb(255, 255, 255);
    border:0.01px solid #afaeae;
    text-shadow: 
            1px 1px 1px #333131,
            2px 1px 1px #070707; 

  }
  /* card_2 close */
    /* card_3 start */
    .services_offer .card_3{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 130%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_3 span{
      font-size: 1.2rem;
      /* padding-top: 1rem; */
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .services_offer .card_3 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
    }
    .services_offer .card_3 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_3 button{
    
        color:white;
        background-color: #753254;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }
    .services_offer .card_3:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.2); 
    }

      .services_offer .card_3 button:hover {
        color:#8b1050;
        background-color: rgb(255, 255, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 1px 1px #333131,
                2px 1px 1px #070707; 
    
      }
      /* card_3 close */
        /* card_4 start */
    .services_offer .card_4{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 150%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_4 span{
      font-size: 1.2rem;
      /* padding-top: 1rem; */
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .services_offer .card_4 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
    }
    .services_offer .card_4 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_4 button{
    
        color:white;
        background-color: #753254;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }
    .services_offer .card_4:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.2);   
    }

      .services_offer .card_4 button:hover {
        color:#8b1050;
        background-color: rgb(255, 255, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 1px 1px #333131,
                2px 1px 1px #070707; 
    
      }
      /* card_4 close */
        /* card_5 start */
    .services_offer .card_5{
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        width: 130%;
        height: 110%;
        border-radius: 5px;
    }
    .services_offer .card_5 span{
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 0px 0px #919191,
      2px 1px 0.2px #afaeae,
      3px 0.7px 0.5px #807e7e,
      4px 1px 3px #333131,
      4px 1.3px 3px #161515,
      6px 1px 0px #fdfdfd;
    }
    .services_offer .card_5 p{
        text-transform: capitalize; 
        letter-spacing: 0.5px;
        padding-top: 0.3rem;
        line-height: 2rem;
        font-weight: 300;
    }
    .services_offer .card_5 img{
        
        filter: drop-shadow(rgb(168, 167, 167) 0.3rem 0.3rem 0.2rem);  
    }
    .services_offer .card_5 button{
    
        color:white;
        background-color: #753254;
        border-radius: .3rem;
        padding: 0.2rem;
        box-shadow: 3px 1px 2px rgb(0, 0, 0);
        text-shadow:3px 1px 2px rgb(0, 0, 0);
        text-align: center;
    
    }

      .services_offer .card_5:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.2);  
    }
      .services_offer .card_5 button:hover {
        color:#8b1050;
        background-color: rgb(255, 255, 255);
        border:0.01px solid #afaeae;
        text-shadow: 
                1px 1px 1px #333131,
                2px 1px 1px #070707; 
    
      }
      /* card_5 close */
 /* services close */
/* skill start */
.skill h1{ 
    padding:1rem 1.4rem;
    display:flex;
justify-content: center;  
text-align: center;        
text-transform: uppercase;
background-image: linear-gradient(
-225deg,
#753254 0%,
#61133a 29%,
#ff1361 67%,
#fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
  font-size: 3rem;
}
.skill{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    padding: 10px;
}
@keyframes textclip {
to {
background-position: 200% center;
}
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
.contain {
    width: 100%;
    background-color: #ddd;
  }
  
.html {
    width: 90%; 
    background-color: #04AA6D;
}
.css {
    width: 55%; 
    background-color: #2196F3;
}
.js {
    width: 0%; 
    background-color: #f44336;
}
.php {
    width: 0%; 
    background-color: #808080;
}
.Graphics {
    width: 40%; 
    background-color: #7e1c79;
}
/* skill close */
/* project start */
.project {
    display:flex;
    justify-content: center;  
    text-align: center; 
}
.project h1{ 
    padding:1rem 1.4rem;       
text-transform: uppercase;
background-image: linear-gradient(
-225deg,
#753254 0%,
#61133a 29%,
#ff1361 67%,
#fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
  font-size: 3rem;
}

@keyframes textclip {
to {
background-position: 200% center;
}
}

/* slide show start*/
.image_gallary{

    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,230px );
    grid-gap:20px;
    
}
.image_gallary img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.5);
}
/* slide show close */
/* Contact start */
.contact .text{ 
    padding:1rem 1.4rem;
    display:flex;
justify-content: center;  
text-align: center;        
text-transform: uppercase;
background-image: linear-gradient(
-225deg,
#753254 0%,
#61133a 29%,
#ff1361 67%,
#fff800 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
  font-size: 3rem;
}

@keyframes textclip {
to {
background-position: 200% center;
}
}

.contact .contact_icon{
    padding:3rem 1.4rem;
    display:grid ;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,260px );
    grid-gap:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.contact  .phone_number{
    display: flex;
}
.contact_icon  .phone_number p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
}
.contact  .gmail{
    display: flex;
}
.contact_icon  .gmail p{
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 1rem;
}
.contact  .whatsup{
    display: flex;
}
.contact_icon  .whatsup p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    letter-spacing: 1px;
}
.contact  .telegram{
    display: flex;
}
.contact_icon  .telegram p{
    font-size: medium;
    font-weight: 500;
    padding-top: 1rem;
    letter-spacing: 1px;
}
/* contact close */
/* footer start */
footer{
        display: block;
        justify-content: center;
        text-align:center;
        padding: 3rem; 
}
footer p span{
    color: #753254;
}
footer img:hover{
    transform: scale(1.7);  
}
/* footer close */
  /* two button close */

/* responsive start */
/*styles for tablets */

@media (min-width: 768px)  {
    .menu ul{
        column-gap: 2rem;    
    }
    .menu ul li{
        font-size:1.1rem;
               }   
    .Contact_btn h1{
            font-size:1rem;   
            border-radius: 0.5rem;
            padding: 3px 10px;
            }
    .hero h1{
                font-size: 2rem;
                line-height:2.5rem; 
             }     
     .hero p{
                font-size: 1rem;
             }  
    .left_btn h1{
    font-size:1rem;
    }
.button_container{
    grid-template-columns: repeat(2,140px );
}
.right_btn h1{
    font-size:1rem;
    }
    .service{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 10px;
    }
    .services_offer{
        padding:1rem 1rem;
        display:grid ;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,270px );
        grid-row-gap:40px;
        
    }
}
@media (max-width: 1199px){
    .hero h1{
        font-size: 3rem;
        line-height:2.5rem; 
     }
     .menu ul li{
        font-size:1.6rem;
               } 
   .Contact_btn h1{
      font-size:1.5rem;   
                }  
      .services_offer{
         grid-template-columns: repeat(2,270px );
                    grid-row-gap:40px;
                    
                }         
}
 /* styles for mobile */
@media (max-width: 767px) {
    .navigation{
        display: none;
    }
    .mobile_responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 1.4rem;
    }
    .mobile_responsive img{
        width:10rem;
        height: 10rem;
        margin-top: -1rem;
        filter: drop-shadow(rgb(121, 113, 113) .20rem .10rem 0.01rem);
    }
    .hero h1{
        font-size: 2rem;
        line-height:2.5rem; 
     }     
.hero p{
        font-size: 1rem;
     }  
.left_btn h1{
font-size:1rem;
}
.button_container{
grid-template-columns: repeat(2,140px );
}
.right_btn h1{
font-size:1rem;
}
.services_offer{
    padding:2rem 4rem;
    grid-template-columns: repeat(1,270px );
    grid-row-gap:40px;
    
}

.image_gallary{
    grid-template-columns: repeat(2,270px );
}
}

@media (max-width: 600px) {

    .hero h1{
        font-size: 1.5rem;
        line-height:2rem; 
     }     
.hero p{
        font-size: 0.8rem;
     }  
.left_btn button{
font-size:0.7rem;
}
.button_container{
grid-template-columns: repeat(2,110px );
}
.right_btn button{

font-size:0.7rem;
}
.about_experience{
    grid-template-columns: repeat(2,230px );
    grid-gap:20px;
    }
.service .text_container{ 
      font-size: 2rem;
}
.project h1{
    font-size: 2rem;  
}
.contact h1{
    font-size: 2rem;  
}
}
@media (max-width: 480px) {
.hero {
    display: block;
}

.button_container{
    margin-top: 2rem;
    justify-content: center;
grid-template-columns: repeat(2,130px );
}
.about_experience{

    grid-template-columns: repeat(1,230px );
}
.service{
    justify-content: center;
}
.service .text_container{ 
    font-size: 1.8rem;
}
.services_offer{
    grid-template-columns: repeat(1,200px );             
           } 
.image_gallary{
    grid-template-columns: repeat(1,200px );  
}
.project h1{
    font-size: 1.8rem;
}
.contact .contact_icon{
    grid-template-columns: repeat(1,250px ); 
}
}
/* Widescreen (greater than 1200px) */
@media (min-width: 1200px) {
body{
    justify-content: center;
    padding:0px 2rem;
}
.hero h1{
    font-size: 3rem;
    line-height:2.5rem; 
 }
 .menu ul li{
    font-size:1.6rem;
           } 
.Contact_btn h1{
  font-size:1.5rem;   
            }  
  .services_offer{
     grid-template-columns: repeat(2,270px );
                grid-row-gap:40px;
                
            }         

}
@media (min-width: 1600px) {
    body{
        justify-content: center;
        padding:0px 8rem;
    }
}
@media (min-width: 1920px) {
body{
    justify-content: center;
    padding:0px 19rem;
}

.skill h1{
    font-size: 5rem;
}
.project h1{
    font-size: 4rem;
}
}


